/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

Test

******************************************************************/

/*********************
GENERAL STYLES
*********************/
*:hover {
    transition: all 0.2s ease;
}

a img {
    &:hover, &:focus {
        opacity: 0.8;
    }
}

.soliloquy-link img {
    &:hover, &:focus {
        opacity: 1.0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: $gray;
    color: $text-color;
    letter-spacing: -0.3px;
    font-size: 100%;
    font-family: $futura;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

em, i {
    font-style: italic;
    font-family: $futura;
}

p {
    margin: 0 0 1em;
    font-family: $futura;
}

.intro {
    font-size: 21px;
}

.separator {
    color: $puente-light-blue;
}

.instruction {
    margin: 1em 0 10px;
}

#container {
    background: #fff;
}

#breadcrumbs {
    margin-bottom: 0;
    padding: 1.5em;
    font-family: $futura;
}

.page-header {
    padding: 1.5em;
    background: #efefe3;

    h1 {
        display: inline-block;
        font-size: 2em;
        line-height: normal;
    }

    #breadcrumbs {
        // display: inline-block;
        // 
        // float: right;
   
    }
}

.page-section {
    padding: 1.5em;
}

/* background setup */
.background {
    /* custom background-position */
    background-position: 50% 50%;

    /* ie8- graceful degradation */
    background-position: 50% 50% 9 !important;
    background-repeat: no-repeat;
}

.fullscreen,
.content-a {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
    min-height: 100%;
    height: auto;
}

/* content centering styles */
.content-a {
    display: table;
    min-height: 500px;
}

.content-b {
    position: relative;
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 1px 4px #333;
    font-size: 2.433em;
    line-height: normal;

    .quote-author {
        font-style: italic;
        font-size: 1.556rem;
        font-family: $futura;
        line-height: 1.556;
    }

    span {
        font-style: italic;
        font-family: $futura;
    }
}

.anchor-link {
    font-family: $futura;
}

.icon-file-docx {
    display: block;

    // float: left;
    // margin-right: 12px;
    margin: 0 auto;
    width: 50px;
    height: 63px;
    background: url(../images/docx@2x.png);
    background-origin: content-box;
    background-size: 50px 63px;

    // background-size: contain;
    background-repeat: no-repeat;
}

.icon-file-pdf {
    display: block;

    // float: left;
    // margin-right: 12px;
    margin: 0 auto;
    width: 50px;
    height: 63px;
    background-image: url(../images/pdf@2x.png);
    background-origin: content-box;
    background-size: 50px 63px;

    // background-size: contain;
    background-repeat: no-repeat;
}

.submore {
    font-family: $futura;
}

.list-square {
    margin-bottom: 1.5em;
    list-style-position: inside;
    list-style-type: square;

    li {
        font-weight: 500;
        font-family: $futura;
    }
}

.utility-outer {
    position: relative;
    top: 0;
    display: block;
    height: 30px;
    background: #ccc;

    .utility-inner {
        #google_translate_element {
            position: absolute;
            right: 5%;
        }
    }
}

.document-icon {
    width: 24px;
    height: auto;
    vertical-align: top;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}

/* for sites that are read right to left (i.e. hebrew) */
.home {
    #inner-content2 {
        margin-bottom: 2.2em;
    }

    .article-header {
        padding: 1.5em 1.5em 1em;
        border-bottom: 0;
    }

    .page-title {
        // padding-bottom: 1em;
   
    }

    .entry-content {
        padding-top: 0;

        h2 {
            margin-top: 0;
            font-size: 1.6445em;
        }
    }

    .intro {
        a {
            font-family: $futura;
        }
    }

    .home-divider {
        height: 4px;
        background-color: $online-blue;
    }

    .programs-outer {
        float: none;
        padding: 1.5em 1.5em 0;
    }

    .programs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            max-width: 300px;

            img {
                &:hover, &:focus {
                    opacity: 0.8;
                }
            }
        }
    }

    #main {
        footer {
            display: none;
        }
    }

    .links-outer {
        .links {
            text-align: center;

            li {
                display: inline-block;
                margin: 0 .5em;
            }
        }
    }

    .posts-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {}
    }
}

/* home page */
.blog {}

/* blog template page */
.archive {}

/* archive page */
.date {}

/* date archive page */
.date-paged-1 {}

/* replace the number to the corresponding page number */
.search {}

/* search page */
.search-results {}

/* search result page */
.search-no-results {}

/* no results search page */
.search-paged-1 {}

/* individual paged search (i.e. body.search-paged-3) */
.error404 {}

/* 404 page */
.single {}

/* single post page */
.postid-1 {}

/* individual post page by id (i.e. body.postid-73) */
.single-paged-1 {}

/* individual paged single (i.e. body.single-paged-3) */
.single-puente_events {
    .page-header {
        padding-bottom: 0;
        background: none;

        .single-title {
            font-size: 2.2334em;
        }
    }

    #main {
        padding: 0 1.5em 1.5em;
    }

    .event-meta {
        margin: 2em 0;
    }
}

.attachment {}

/* attatchment page */
.attachmentid-1 {}

/* individual attatchment page (i.e. body.attachmentid-763) */
.attachment-mime-type {}

/* style mime type pages */
.author {}

/* author page */
.author-nicename {}

/* user nicename (i.e. body.author-samueladams) */
.author-paged-1 {}

/* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}

/* category page */
.category-1 {}

/* individual category page (i.e. body.category-6) */
.category-paged-1 {}

/* replace the number to the corresponding page number */
.tag {}

/* tag page */
.tag-slug {}

/* individual tag page (i.e. body.tag-news) */
.tag-paged-1 {}

/* replace the number to the corresponding page number */
.page-template {}

/* custom page template page */
.page-template-page-php {}

/* individual page template (i.e. body.page-template-contact-php */
.page-paged-1 {}

/* replace the number to the corresponding page number */
.page-parent {}

/* parent page template */
.page-child {}

/* child page template */
.parent-pageid-1 {}

/* replace the number to the corresponding page number */
.logged-in {}

/* if user is logged in */
.paged {}

/* paged items like search results or archives */
.paged-1 {}

/* individual paged (i.e. body.paged-3) */

.page-history {
    h3:nth-of-type(1) {
        margin-top: 0;
    }
}

.board {
    #main {
        // height: 0;
        article {
            footer {
                display: none;
            }
        }

        .hentry {
            padding-bottom: 0;
        }
    }

    .bio-role {
        font-size: 1rem !important;
        font-family: $futura;
        line-height: normal;
    }

    .boards {
        color: $online-blue;
        font-size: .875rem;
    }

    #popup {
        p {
            padding-right: 1.5em;
        }
    }
}

.board-documents {
    .documents-outer {
        padding: 1.5em;
    }
}

.staff, .locations {
    #main {
        display: none;
    }
}

.staff, .board, .staff-test {
    .bios-outer {
        clear: both;
        padding-top: 1.5em;
    }

    .bios {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0;
    }

    .bio {
        // display: flex;
        // flex-wrap: wrap;
        margin: 0 0 2em;
        padding: 0 10px;
        width: 245px;
    }

    .bio-wrap {}

    .bio-meta {
        height: 150px;

        h3 {
            margin-bottom: 0 !important;
            line-height: normal;
        }

        h4 {
            margin-top: 8px;
            line-height: normal;
        }

        .h4-email {
            margin-bottom: 0;
        }

        h5 {
            margin-top: 0;
            letter-spacing: normal;
        }
    }

    .bio-content {
        // display: block;
   
    }

    .bio-role, .bio-title {
        font-size: .875rem;
        font-family: $futura;
        line-height: normal;
    }

    .popup-photo {
        float: left;
        margin-right: 1em;

        img {
            position: relative;
            top: 3px;
            width: 100px;
            height: auto;
        }
    }

    .team-images {
        display: flex;
        flex-wrap: wrap;
    }
}

.programs, .page-charter-kindergarten {
    .hentry {
        footer {
            display: none;
        }
    }

    .program-outer {
        margin-bottom: 3em;

        .schedule-button {
            padding: 2.2em;
            border-top: 1px dotted #dedede;
            text-align: center;

            .puente-btn {
                font-size: 1.2em;
            }
        }

        .program-groups {
            clear: both;

            // display: flex;
            // flex-wrap: wrap;
            .program-group {
                // margin-bottom: 2.2em;
                padding: 2.2em 0;

                h3 {
                    margin-bottom: .2em;
                    text-align: center;

                    span {
                        color: $puente-light-blue;
                    }
                }

                .sub-programs {
                    .program-description, .program-schedule {
                        display: none;
                    }
                }

                .program-icon {
                    margin: 0 auto;
                    text-align: center;
                }

                .program-group-inner {
                    padding: 0 1.5em;
                }

                .program-photo {
                    clear: both;
                    min-height: 275px;
                    width: 250px;
                }

                .program {
                    clear: both;
                }

                .program.expanded {
                    margin-bottom: 2.2em;

                    .program-contact-image {
                        margin-bottom: 1.5em;
                    }
                }
            }

            .program-group-preschool {
                // background-color: lighten($puente-light-blue, 32%);
                background-color: lighten(#FFC233, 12%);
            }

            .program-group-kindergarten {
                // background-color: lighten($puente-blue, 22%);
           
            }

            .program-group-highschool {
                // background-color: lighten($puente-light-blue, 32%);
                background-color: #B4EEB4;
            }

            .program-group-adult {
                // background-color: lighten($puente-green, 22%);
           
            }
        }

        .program-schedule, .program-group-schedule {
            // display: none;
       
        }

        .program-files {
            display: flex;
            justify-content: flex-start;
            margin-top: 2.2em;

            .program-file {
                margin: 0 1.5em 1.5em 0;
                width: 150px;
                text-align: center;
            }
        }

        .program-register {
            // text-align: center;
            // margin: 0 auto;
       
        }
    }

    .program-group-youth-schedule {
        .tablepress {
            .row-4.even td {
                background-color: #235ba8 !important;
                color: #fff !important;
                font-size: 1.3em;
                font-family: $futura;
            }
        }
    }

    .program-group-adult-schedule {
        .tablepress {
            .row-6.even td, .row-10.even td, .row-12.even td, .row-19.odd td {
                background-color: #235ba8 !important;
                color: #fff !important;
                font-size: 1.3em;
                font-family: $futura;
            }
        }
    }
}

.schedule {
    .entry-content {
        padding: 0;
    }

    .page-section {
        padding-top: 0;
    }

    .schedule-outer {
        clear: both;
    }

    .schedules {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .location-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h3 {
            margin-bottom: 0;
        }

        h4 {
            margin-top: 0;
        }
    }

    .tablepress {
        margin-bottom: 3em;
    }
}

.faq {
    .faqs-outer {
        display: flex;
        flex-wrap: wrap;
    }

    dt {
        margin-bottom: 1em;
        color: $puente-blue;
        font-size: 21px;
        line-height: normal;
        cursor: pointer;
    }

    dd {
        color: $text-color !important;
        font-size: 18px !important;
        font-family: $futura;
    }

    .question {
        margin-bottom: .3em;
    }

    dd:not(.expanded) {
        display: none;
    }
}

.contact {
    #main {
        float: none;
        margin: 0 auto;
        width: 96%;
    }

    #gform_1 {
        letter-spacing: normal !important;

        .gfield {
            margin-bottom: 1.334em;
        }

        .gfield_label {
            font-weight: normal;
        }
    }
}

.registration {
    #main {
        float: none;
        margin: 0 auto;
        width: 96%;
    }

    #gform_3 {
        letter-spacing: normal !important;

        .gfield {
            margin-bottom: 1.334em;
        }

        .gfield_label {
            font-weight: normal;
        }
    }

    .gfield_radio {
        span {
            color: $puente-green;
            font-size: 1.1em;
        }
    }

    .ginput_total {
        font-size: 2.365em !important;
    }

    #input_3_9 {
        span {
            color: $puente-green;
        }
    }
}

.privacy-policy {
    .entry-content {
        h3 {
            margin-bottom: 0;
        }

        .policy {
            margin-bottom: 1.5em;
        }

        a {
            font-family: $futura !important;
        }
    }
}

.donate, .donate-2016-test {
    #main {
        // background-color: #efefe3;
   
    }

    .entry-content {
        padding: 1.5em 2em 2em;
        background-color: #efefe3;

        h2 {
            margin-top: 0;
        }

        .intro {
            color: $puente-blue;
        }
    }

    #gform_2 {
        color: darken($puente-blue, 13%);
        letter-spacing: normal !important;

        .gfield {
            margin-bottom: 1.334em;
        }

        .gfield_label {
            font-weight: normal;
        }

        label {
            position: relative;
            top: 3px;
        }

        .gfield_description {
            padding: 0;
            font-family: $futura !important;
        }

        input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
            margin-bottom: 5px !important;
            background-color: #f8f8f8;
            color: $puente-blue;
            font-size: 1.233em;
        }

        #input_2_23 {
            margin-bottom: 0 !important;
        }

        span.ginput_total {
            padding: .5em;
            background: #fff;
            font-size: 2em;
        }

        #field_2_22 {
            margin-bottom: 4px;
        }

        #field_2_24 {
            label {
                margin-bottom: 20px;
            }
        }

        #choice_2_25_9 {
            float: left;
        }

        #label_2_5_1, #label_2_10_1 {
            position: relative;
            top: 3px;
        }
    }
}

.google-map {
    .small a {
        color: $online-blue;
    }
}

.locations {
    .locations-outer {
        margin-bottom: 3em;
    }

    .google-map {
        .small a {
            color: $online-blue;
        }

        iframe {
            pointer-events: none;
        }
    }

    .locations-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        clear: both;
    }

    .location-hours {
        margin-top: 1.5em;
    }
}

.financials {
    .document-icon {
        width: 15% !important;
    }
}

.events {
    a[href$='.pdf'] {
        padding-left: 40px;
        background: url(../images/pdf.png) center left no-repeat;
        background-size: 33px 40px;
    }

    .event-list-outer {
        padding: 1.5em;

        .event-list-inner {
            display: flex;
            flex-wrap: wrap;

            .event-outer {
                margin-bottom: 2.2em;
                padding-top: 1em;
                padding-bottom: 1.5em;
                border-bottom: 1px dotted #dedede;
            }

            h2 {
                margin: 0;
            }

            h4 {
                margin-top: 0;
                margin-bottom: .5em;
            }

            .event-location {
                margin: 2.2em 0;
            }
        }
    }
}

.honor-roll {
    .honor-rolls {
        display: flex;
        flex-wrap: wrap;
    }

    .donor {
        line-height: 1.4;
    }
}

.careers {
    .careers-outer {
        padding: 1.5em;
    }

    .career-outer {
        padding-bottom: 3em;
        border-bottom: 1px dotted #ccc;
    }

    .career-outer:last-of-type() {
        border-bottom: 0;
    }
}

.annual-golf-tournament {
    .event-description {
        .golf-schedule {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 2em 0;
        }
    }
}

.page-blog {
    .posts-inner {
        h2 {
            margin-top: 0;
        }
    }

    .posts-list {
        .post-list {
            padding: 1em 0 2.2em;
            border-bottom: 1px dotted #ccc;

            .post-image {
                float: left;
                margin-right: 8px;
            }

            h4 {
                margin-top: 0;
            }
        }
    }
}

.page-volunteer {
    .envira-gallery-item-inner {
        padding: 0 !important;
        background: 0;
    }

    .gform_wrapper {
        .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
            margin-top: 0 !important;
        }

        .gfield_checkbox {
            display: flex;

            li {
                // margin-right: 12px;
                width: 150px !important;

                label {
                    line-height: normal;
                }
            }
        }

        #field_4_7, #field_4_8 {
            margin: 2.2em 0;
        }
    }
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    margin: 0 auto;
    width: 96%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
    outline: 0;
    color: $balboa-blue;
    text-decoration: none;

    /* on hover */
    &:hover, &:focus {
        outline: 0;
        color: $link-hover;
    }

    /* on click */
    &:active {
        outline: 0;
    }

    /* mobile tap color */
    &:link {
        outline: 0;

        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $deep-blue;
    letter-spacing: normal;
    font-weight: 600;
    font-family: $futura;
    text-rendering: optimizelegibility;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1, .h1 {
    margin-top: 1.25em;
    margin-bottom: .45em;
    font-size: 2.5em;

    // line-height: 1.333em;
}

h2, .h2 {
    margin-top: 1em;
    margin-bottom: .43em;
    font-size: 2em;

    // line-height: 1.4em;
    // margin-bottom: 0.375em;
}

h3, .h3 {
    margin-top: 1em;
    margin-bottom: .644em;
    font-size: 1.566em;
}

h4, .h4 {
    margin-top: 1.2em;
    margin-bottom: .56em;
    font-size: 1.233em;
}

h5, .h5 {
    margin-top: 1.333em;
    margin-bottom: .56em;

    // line-height: 2.09em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.108em;
}

h6, .h6 {
    // line-height: 1.8889em;
    margin-top: 1.4em;
    margin-bottom: .51em;
    font-size: 1em;
}

/*********************
HEADER STYLES
*********************/

.header {
    background-color: #fff;

    // height: 65px;

    #s {
        color: #bbb;

        &:focus {
            color: $puente-blue;
        }
    }
}

#logo {
    // margin: 1em 0;

    a {
        // color: $white;
        // font-size: 1.5em;
        text-decoration: none;

        img {
            position: relative;

            // top: 8px;
            max-width: 100%;
            height: auto;

            &:hover, &:focus {
                opacity: 0.8;
            }
        }
    }
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
    margin: 0;
    border-bottom: 0;

    li {
        a {
            display: block;

            // color: $white;
            text-decoration: none;
            font-size: .875em;

            /*
            remember this is for mobile ONLY, so there's no need
            to even declare hover styles here, you can do it in
            the style.scss file where it's relevant. We want to
            keep this file as small as possible!
            */
            &:hover, &:focus {}
        }

        &:first-child {}

        &:last-child {}

        /*
        so you really have to rethink your dropdowns for mobile.
        you don't want to have it expand too much because the
        screen is so small. How you manage your menu should
        depend on the project. Here's some great info on it:
        http://www.alistapart.com/articles/organizing-mobile/
        */
        ul.sub-menu,
        ul.children {
            li {
                a {
                    padding-left: 30px;
                    color: $white;
                    line-height: normal;

                    &:hover,
                    &:focus {}

                    &:link {}
                }

                &:first-child {}

                &:last-child {}
            }
        }
    }

    /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
        a {}
    }

    /* end current highlighters */
}

/* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {}

.hentry {
    // border-radius: 3px;
    padding-bottom: 1.5em;
    background-color: $white;

    // border: 1px solid $border-color;

    header {
        padding: 1.5em;
        border-bottom: 1px solid $light-gray;
    }

    footer {
        padding: 1.5em;
        border-top: 1px solid $light-gray;

        p {
            margin: 0;
        }
    }
}

/* end .hentry */

.single-title,
.page-title,
.entry-title {
    margin: 0;
}

.spanish-title {
    margin-top: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}

/* post by id (i.e. post-3) */
.post {}

/* general post style */
.page {}

/* general article on a page style */
.attachment {}

/* general style on an attatchment */
.sticky {}

/* sticky post style */
.hentry {}

/* hentry class */
.category-slug {}

/* style by category (i.e. category-videos) */
.tag-slug {}

/* style by tag (i.e. tag-news) */

/* post meta */
.byline {
    margin: 0;
    color: $meta-gray;
    font-style: italic;

    time {}
}

/* entry content */
.entry-content {
    padding: 1.5em 1.5em;

    p {
        margin: 0 0 1em;
    }

    ul, ol, table, dl {}

    ul, ol {
        li {}
    }

    ul {
        li {}
    }

    ol {
        li {}
    }

    blockquote {
        margin: 0 0 1.5em 0.75em;
        padding: 0 0 0 0.75em;
        border-left: 3px solid $blue;
        color: $meta-gray;
        font-style: italic;

        &:before {}
    }

    dl {}

    dt {}

    dd {
        margin-bottom: 1.5em;
        margin-left: 0;
        color: #787878;
        font-size: 0.9em;
    }

    img {
        margin: 0 0 1.5em 0;
        max-width: 100%;
        height: auto;
    }

    /*
    image alignment on a screen this size may be
    a bit difficult. It's set to start aligning
    and floating images at the next breakpoint,
    but it's up to you. Feel free to change it up.
    */
    .alignleft, img.alignleft {}

    .alignright, img.alignright {}

    .aligncenter, img.aligncenter {}

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }

    pre {
        margin: 0 0 1.5em;
        padding: 1.5em;
        border-radius: 3px;
        background: $black;
        color: $light-gray;
        font-size: 0.9em;
    }
}

/* end .entry-content */

.wp-caption {
    padding: 5px 5px 10px;
    max-width: 100%;
    background: #efefef;

    /* images inside wp-caption */
    img {
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    p.wp-caption-text {
        margin: 4px 10px 7px;
        text-align: center;
        font-size: .824em;
        font-family: $futura;
    }
}

/* end .wp-caption */

.photo-caption {
    padding: 5px 5px 10px;
    background: #efefef;

    /* images inside wp-caption */
    img {
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    p.wp-caption-text {
        margin: 4px 10px 7px;
        text-align: center;
        font-size: .824em;
        font-family: $futura;
    }
}

/* end .wp-caption */

/* image gallery styles */
.gallery {
    dl {
        a {}

        img {}
    }

    dt {}

    dd {}
}

/* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}

.size-large {}

.size-medium {}

.size-thumbnail {}

// the tag output
.tags {
    margin: 0;
}

/******************************************************************
TABLE STYLES
******************************************************************/

table {
    margin-bottom: 1.5em;
    width: 100%;
    border: 1px solid $gray;
    font-family: $futura;

    caption {
        margin: 0 0 7px;
        color: $meta-gray;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.75em;
    }
}

tr {
    border-bottom: 1px solid $gray;

    &:nth-child(even) {
        background-color: $light-gray;
    }
}

.colspan {
    background-color: $puente-blue !important;
    color: #fff;
    font-size: 1.3em;
    font-family: $futura;
}

td {
    padding: 7px;
    border-right: 1px solid $gray;

    &:last-child {
        border-right: 0;
    }
}

th {
    border-right: 1px solid $gray;
    border-bottom: 1px solid $gray;
    background-color: $puente-blue !important;
    color: #fff;
    font-size: 1.3em;
    font-family: $futura;

    &:last-child {
        border-right: 0;
    }
}

.after-header > .column-1 {
    font-family: $futura !important;
}

.tablepress {
    tfoot th, thead th {
        font-weight: normal !important;
    }

    .after-header.odd > .colspan {
        background-color: #f8f9fa !important;
        color: #354e64;
        font-size: 1em;
        font-family: $futura !important;
    }

    .after-header.even > .colspan, .row-2 > .colspan {
        background-color: #f9f9f9 !important;
        color: #354e64;
        font-size: 1em;
        font-family: $futura !important;
    }
}

#tablepress-1, #tablepress-2 {
    // Adult Education (English & Spanish)
    .row-2, .row-4, .row-16, .row-21, .row-25 {
        > .column-1 {
            font-family: $futura !important;
        }
    }

    .row-8, .row-9, .row-10, .row-11 {
        .column-1 {
            padding-left: 16px;
        }
    }
}

#tablepress-3, #tablepress-4 {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
    margin: 1.5em 0;
}

.pagination {
    text-align: center;

    ul {
        display: inline-block;
        clear: both;
        padding: 0;
        border-radius: 3px;
        background-color: $white;
        white-space: nowrap;
    }

    li {
        display: inline;
        float: left;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-right: 1px solid $gray;
    }

    a, span {
        display: block;
        margin: 0;
        padding: 0;
        padding: 0.75em;
        min-width: 1em;
        color: $blue;
        text-decoration: none;
        font-weight: normal;
        font-size: 1em;
        line-height: 1em;

        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
    }

    .current {
        color: $text-color;
        cursor: default;

        &:hover, &:focus {
            background-color: $white;
            color: $text-color;
        }
    }
}

/* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {
    ul {}

    .prev-link {
        float: left;
    }

    .next-link {
        float: right;
    }
}

/* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
    margin: 0;
    padding: 0.75em;
    border-top: 1px solid $light-gray;

    /* number of comments span */
    span {}
}

.comment-nav {
    ul {
        li {}
    }
}

.commentlist {
    margin: 0;
    list-style-type: none;
}

.comment {
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 1.5em;
    border-bottom: 1px solid $light-gray;

    .comment-author {
        padding: 7px;
        border: 0;
    }

    /* vcard */
    .vcard {
        margin-left: 50px;

        cite.fn {
            font-weight: 700;
            font-style: normal;

            a.url {}
        }

        time {
            display: block;
            font-style: italic;
            font-size: 0.9em;

            a {
                color: $meta-gray;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .photo {}

        .avatar {
            position: absolute;
            left: 16px;
            border-radius: 50%;
        }
    }

    /* end .commentlist .vcard */

    &:last-child {
        margin-bottom: 0;
    }

    .children {
        margin: 0;

        li {}

        /* variations */
        .comment {}

        .alt {}

        .odd {}

        .even {}

        .depth-1 {}

        /* change number for different depth */
        .byuser {}

        .bypostauthor {}

        .comment-author-admin {}
    }

    /* end children */

    &[class*=depth-] {
        margin-top: 1.1em;
    }

    &.depth-1 {
        margin-top: 0;
        margin-left: 0;
    }

    &:not(.depth-1) {
        margin-top: 0;
        margin-left: 7px;
        padding: 7px;
    }

    &.depth-2 {}

    &.depth-3 {}

    &.depth-4 {}

    &.depth-5 {}

    /* general comment classes */
    &.alt {}

    &.odd {
        background-color: $white;
    }

    &.even {
        background: $light-gray;
    }

    &.parent {}

    &.comment {}

    &.children {}

    &.pingback {}

    &.bypostauthor {}

    &.comment-author {}

    &.comment-author-admin {}

    &.thread-alt {}

    &.thread-odd {}

    &.thread-even {}
}

/* comment meta */
.comment-meta {
    a {}
}

.commentmetadata {
    a {}
}

/* comment content */
.comment_content {
    p {
        margin: 0.7335em 0 1.5em;
        font-size: 1em;
        line-height: 1.5em;
    }
}

/* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
    @extend .blue-btn;

    float: right;
    font-size: 0.9em;

    &:hover,
    &:focus {}
}

/* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
    margin: 0 7px;
    text-decoration: none;
    font-style: italic;
    font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
    @extend .cf;

    padding: 1.5em;
    border-top: 1px solid $light-gray;
}

#reply-title {
    margin: 0;
}

.logged-in-as {
    margin: 0;
    color: $meta-gray;
    font-style: italic;

    a {
        color: $text-color;
    }
}

.comment-form-comment {
    margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
    padding: 1.5em;
    background-color: $light-gray;
    font-size: 0.9em;
}

/* comment submit button */
#submit {
    @extend .blue-btn;

    float: right;
    font-size: 1em;
}

/* comment form title */
#comment-form-title {
    margin: 0 0 1.1em;
}

/* cancel comment reply link */
#cancel-comment-reply {
    a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
    margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {}

.widget {
    ul {
        li {
            &:first-child {}

            &:last-child {}

            a {}

            /* deep nesting */
            ul {}
        }
    }
}

.no-widgets {
    margin-bottom: 1.5em;
    padding: 1.5em;
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    text-align: center;
}

#sidebar2 {
    // sidebar2 are the footer widgets
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3, h4 {
        color: $online-blue;
    }

    #mc_embed_signup {
        h3 {
            display: none;
            margin-bottom: 0;
            font-size: 1.112em;
        }

        .indicates-required, .asterisk {
            color: red;
            font-size: 13px;
        }

        .indicates-required {
            display: none;
        }

        .mc-field-group {
            font-family: $futura;
        }
    }

    .footer-link-widget {
        width: 200px;

        h4 {
            margin-bottom: 0;
        }
    }
}

#text-5 {
    // Social Media buttons/links
    margin-top: 2.2em;

    .widgettitle {
        display: none;
    }

    .social-links {
        li {
            display: inline-block;
            margin-right: 8px !important;
        }

        img, a, li {
            overflow: hidden;
            width: 32px;
            height: 32px;
        }
    }
}

#acf_widget_210-2 {
    // locations widget with Google Maps
    margin-bottom: 2em;

    h5 {
        color: #fff;
    }

    .location-image {
        margin: 1.5em 0;
    }

    .locations-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;

        li {
            margin-right: 1.5em;
        }

        li:last-child {
            margin-right: 0;
        }

        .google-map {
            width: 300px;
        }

        .location-hours {
            margin: 1em 0 0;
            font-family: $futura;
        }
    }
}

/*********************
FOOTER STYLES
*********************/

.footer {
    clear: both;
    background-color: darken($deep-blue, 14%);
    color: $white;
}

.question-pro {
    margin: 2.2em 0;
    max-width: 300px;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
.footer-links {
    ul {
        li {
            margin-bottom: 0;

            a {
                color: $online-blue;
            }
        }

        #menu-item-233 {
            a {
                color: $royalty;

                &:hover, &:focus {
                    color: lighten($royalty, 8%);
                }
            }
        }
    }
}

/* end .footer-links */

.copyright {}

// #responsive-menu .responsive-menu li a {
// 	padding: 8px 0 8px 16px !important;
// 	height: 37px !important;
// }

// #responsive-menu .appendLink {
// 	padding: 6px 10px !important;
// }

.qtip-puente {
    z-index: 999;
    border-color: $online-blue !important;

    // background: lighten($puente-dark-grey, 36%) !important;
    background: #f5f5f5 !important;

    // border-radius: 4px !important;
    box-shadow: 1px 3px 8px $puente-dark-grey !important;

    // display: none;
    // max-width: 280px;
    color: darken($puente-blue, 16%) !important;

    // width: 300% !important;
    // width: 500px !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
}

.modal-box {
    position: absolute;

    // top: 50%;
    left: 50%;
    z-index: 1002;
    display: none;
    padding: 1em 1.5em;
    width: 93%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    background: white;
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    transform: translate(-50%, -50%);
}

.modal-box header,
.modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
    margin: 0;
}

.modal-box .modal-body {
    padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

#popup {
    // left: 0;
    // margin: 0 1em;
    // max-width: 93%;
    // top: 0px;
    z-index: 999999;
}

.modal-overlay {
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 0;
    filter: alpha(opacity = 0);
}

a.close {
    position: absolute;

    // top: 5%;
    // right: 2%;
    top: 8px;
    right: 14px;
    color: $puente-blue;
    text-decoration: none;
    font-size: 2em;
    line-height: 1;
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}

.x-close.blue-btn {
    position: relative;

    // top: 5%;
    right: 0%;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

@media (min-width: 32em) {
    .modal-box {
        width: 80%;
    }
}

.acf-map {
    margin: 20px 0;
    width: 100%;
    height: 300px;
    border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
    max-width: inherit !important;
}

.gform_button {
    font-size: 1.4em !important;
}

.gfield input:focus {
    border: 2px solid $puente-light-blue;
}

#mce-EMAIL:focus {
    border: 2px solid $puente-light-blue;
}

.document-gallery .document-icon img {
    width: 44px !important;
}

.document-gallery .document-icon a {
    line-height: normal !important;
}

span.title {
    font-size: 1.455em;
}

#gform_wrapper_5 {
    #ginput_quantity_5_8 {
        display: inline-block;
    }

    .ginput_product_price {
        color: green !important;
    }

    ul.gform_fields li.gfield {
        margin-bottom: 1.5em;
    }

    .ginput_total_5 {
        font-size: 2em;
    }
}

.envira-gallery-wrap .envira-gallery-public .envira-gallery-item img {}

.envira-gallery-item {
    margin-bottom: 1.5em;
}

.envira-gallery-item-inner {
    padding: 15px !important;
    background: #efefef !important;
    text-align: center !important;

    span.caption {
        display: block;
        padding: 1em 0 0;

        h4 {
            margin-bottom: 14px;
            letter-spacing: 0.05em;
        }
    }
}

#click-menu {
    position: fixed !important;
}

#responsive-menu {
    height: auto !important;
}

#responsive-menu #responsiveSearch {
    height: auto !important;
}

.envira-gallery-wrap .envira-gallery-public.envira-gallery-css-animations .envira-gallery-item img {
    opacity: 1;
}

/* Popup Maker Core Styles */
.pum-container, .pum-content, .pum-content + .pum-close, .pum-content + .pum-close:active, .pum-content + .pum-close:focus, .pum-content + .pum-close:hover, .pum-overlay, .pum-title {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    visibility: visible;
    float: none;
    clear: none;
    overflow: visible;
    min-width: 0;
    min-height: 0;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    border: none;
    background: 0 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    white-space: normal;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    font-family: inherit;
    line-height: normal;
    cursor: default;
}

.pum-container .pum-content + .pum-close > span, .pum-content, .pum-title {
    position: relative;
    z-index: 1;
}

.pum-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999999999;
    display: none;
    overflow: initial;
    width: 100%;
    height: 100%;
    transition: all .15s ease-in-out;
}

.pum-overlay.pum-form-submission-detected, .pum-overlay.pum-preview {
    display: block;
}

.pum-overlay, .pum-overlay *, .pum-overlay :after, .pum-overlay :before, .pum-overlay:after, .pum-overlay:before {
    box-sizing: border-box;
}

.pum-container {
    position: absolute;
    top: 100px;
    z-index: 1999999999;
    margin-bottom: 3em;
}

.pum-container.pum-responsive {
    left: 50%;
    overflow: visible;
    margin-left: -47.5%;
    width: 95%;
    height: auto;
}

.pum-container.pum-responsive img {
    max-width: 100%;
    height: auto;
}

.pum-container.custom-position {
    top: auto;
    left: auto;
    margin-left: inherit;
}

.pum-container .pum-content > :last-child {
    margin-bottom: 0;
}

.pum-container .pum-content + .pum-close {
    position: absolute;
    z-index: 2;
    min-width: 1em;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
}

.pum-container.pum-scrollable .pum-content {
    overflow: auto;
    overflow-y: scroll;
    max-height: 95%;
}

.pum-overlay-disabled {
    visibility: hidden;
}

.pum-overlay-disabled::-webkit-scrollbar {
    display: block;
}

.pum-overlay-disabled .pum-container {
    visibility: visible;
}

html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
    overflow: hidden;
}

html.pum-open.pum-open-overlay-disabled.pum-open-fixed .pum-container, html.pum-open.pum-open-overlay.pum-open-fixed .pum-container {
    position: fixed;
}

html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
    padding-right: 15px;
}

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: scroll;
}

html.pum-open.pum-open-overlay-disabled.pum-open-scrollable .pum-overlay.pum-active {
    position: static;
    width: auto;
    height: auto;
}

.pum-container iframe.formidable {
    overflow: visible;
    width: 100%;
}

.pika-single, body div#ui-datepicker-div[style] {
    z-index: 9999999999 !important;
}

.powered-by-popmake {
    position: absolute;
    bottom: -28px;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.powered-by-popmake > a {
    display: inline-block;
    max-width: 205px;
}

.powered-by-popmake img {
    max-width: 100%;
    width: 100%;
}

.powered-by-popmake.small {
    bottom: -22px;
}

.powered-by-popmake.small > a {
    max-width: 125px;
}

.powered-by-popmake.large {
    bottom: -30px;
}

.powered-by-popmake.large > a {
    max-width: 285px;
}

.popmake-close {
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .pum-container.pum-responsive.pum-responsive-nano {
        margin-left: -5%;
        width: 10%;
    }

    .pum-container.pum-responsive.pum-responsive-micro {
        margin-left: -10%;
        width: 20%;
    }

    .pum-container.pum-responsive.pum-responsive-tiny {
        margin-left: -15%;
        width: 30%;
    }

    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -20%;
        width: 40%;
    }

    .pum-container.pum-responsive.pum-responsive-medium {
        margin-left: -30%;
        width: 60%;
    }

    .pum-container.pum-responsive.pum-responsive-normal {
        margin-left: -30%;
        width: 70%;
    }

    .pum-container.pum-responsive.pum-responsive-large {
        margin-left: -35%;
        width: 80%;
    }

    .pum-container.pum-responsive.pum-responsive-xlarge {
        margin-left: -47.5%;
        width: 95%;
    }

    .pum-container.pum-responsive.pum-position-fixed {
        position: fixed;
    }
}

@media only screen and (max-width: 1024px) {
    .pum-container.pum-responsive.pum-position-fixed {
        position: absolute;
    }
}

/* Popup Google Fonts */
// @import url('//fonts.googleapis.com/css?family=Acme|Montserrat');

/* Popup Theme 1661: Framed Border */
.pum-theme-1661, .pum-theme-framed-border {
    background-color: rgba(255, 255, 255, 0.5);
}

.pum-theme-1661 .pum-container, .pum-theme-framed-border .pum-container {
    padding: 18px;
    border: 20px outset #dd3333;
    border-radius: 0px;
    background-color: rgba(255, 251, 239, 1);
    box-shadow: 1px 1px 3px 0px rgba(2, 2, 2, 0.97) inset;
}

.pum-theme-1661 .pum-title, .pum-theme-framed-border .pum-title {
    color: #000000;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-size: 32px;
    font-family: inherit;
    line-height: 36px;
}

.pum-theme-1661 .pum-content, .pum-theme-framed-border .pum-content {
    color: #2d2d2d;
    font-family: inherit;
}

.pum-theme-1661 .pum-content + .pum-close, .pum-theme-framed-border .pum-content + .pum-close {
    top: -20px;
    right: -20px;
    bottom: auto;
    left: auto;
    padding: 0px;
    width: 20px;
    height: 20px;
    border: 1px none #ffffff;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 0px 0px rgba(2, 2, 2, 0.23);
    color: #ffffff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-size: 20px;
    font-family: Acme;
    line-height: 20px;
}

/* Popup Theme 1660: Cutting Edge */
.pum-theme-1660, .pum-theme-cutting-edge {
    background-color: rgba(0, 0, 0, 0.5);
}

.pum-theme-1660 .pum-container, .pum-theme-cutting-edge .pum-container {
    padding: 18px;
    border: 1px none #000000;
    border-radius: 0px;
    background-color: rgba(30, 115, 190, 1);
    box-shadow: 0px 10px 25px 0px rgba(2, 2, 2, 0.5);
}

.pum-theme-1660 .pum-title, .pum-theme-cutting-edge .pum-title {
    color: #ffffff;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-size: 26px;
    font-family: Sans-Serif;
    line-height: 28px;
}

.pum-theme-1660 .pum-content, .pum-theme-cutting-edge .pum-content {
    color: #ffffff;
    font-family: inherit;
}

.pum-theme-1660 .pum-content + .pum-close, .pum-theme-cutting-edge .pum-content + .pum-close {
    top: 0px;
    right: 0px;
    bottom: auto;
    left: auto;
    padding: 0px;
    width: 24px;
    height: 24px;
    border: 1px none #ffffff;
    border-radius: 0px;
    background-color: rgba(238, 238, 34, 1);
    box-shadow: -1px 1px 1px 0px rgba(2, 2, 2, 0.1);
    color: #1e73be;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 32px;
    font-family: inherit;
    line-height: 24px;
}

/* Popup Theme 1659: Hello Box */
.pum-theme-1659, .pum-theme-hello-box {
    background-color: rgba(0, 0, 0, 0.75);
}

.pum-theme-1659 .pum-container, .pum-theme-hello-box .pum-container {
    padding: 30px;
    border: 14px solid #81d742;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(2, 2, 2, 0);
}

.pum-theme-1659 .pum-title, .pum-theme-hello-box .pum-title {
    color: #2d2d2d;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-size: 32px;
    font-family: Montserrat;
    line-height: 36px;
}

.pum-theme-1659 .pum-content, .pum-theme-hello-box .pum-content {
    color: #2d2d2d;
    font-family: inherit;
}

.pum-theme-1659 .pum-content + .pum-close, .pum-theme-hello-box .pum-content + .pum-close {
    top: -30px;
    right: -30px;
    bottom: auto;
    left: auto;
    padding: 0px;
    width: auto;
    height: auto;
    border: 1px none #ffffff;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(2, 2, 2, 0.23);
    color: #2d2d2d;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-size: 32px;
    font-family: inherit;
    line-height: 28px;
}

/* Popup Theme 1658: Enterprise Blue */
.pum-theme-1658, .pum-theme-enterprise-blue {
    background-color: rgba(0, 0, 0, 0.7);
}

.pum-theme-1658 .pum-container, .pum-theme-enterprise-blue .pum-container {
    padding: 28px;
    border: 1px none #000000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 25px 4px rgba(2, 2, 2, 0.5);
}

.pum-theme-1658 .pum-title, .pum-theme-enterprise-blue .pum-title {
    color: #315b7c;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-size: 34px;
    font-family: inherit;
    line-height: 36px;
}

.pum-theme-1658 .pum-content, .pum-theme-enterprise-blue .pum-content {
    color: #2d2d2d;
    font-family: inherit;
}

.pum-theme-1658 .pum-content + .pum-close, .pum-theme-enterprise-blue .pum-content + .pum-close {
    top: 8px;
    right: 8px;
    bottom: auto;
    left: auto;
    padding: 4px;
    width: 28px;
    height: 28px;
    border: 1px none #ffffff;
    border-radius: 42px;
    background-color: rgba(49, 91, 124, 1);
    box-shadow: 0px 0px 0px 0px rgba(2, 2, 2, 0.23);
    color: #ffffff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-size: 20px;
    font-family: inherit;
    line-height: 20px;
}

/* Popup Theme 1657: Light Box */
.pum-theme-1657, .pum-theme-lightbox {
    background-color: rgba(0, 0, 0, 0.6);
}

.pum-theme-1657 .pum-container, .pum-theme-lightbox .pum-container {
    padding: 18px;
    border: 8px solid #000000;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px 0px rgba(2, 2, 2, 1);
}

.pum-theme-1657 .pum-title, .pum-theme-lightbox .pum-title {
    color: #000000;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-size: 32px;
    font-family: inherit;
    line-height: 36px;
}

.pum-theme-1657 .pum-content, .pum-theme-lightbox .pum-content {
    color: #000000;
    font-family: inherit;
}

.pum-theme-1657 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close {
    top: -24px;
    right: -24px;
    bottom: auto;
    left: auto;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 15px 1px rgba(2, 2, 2, 0.75);
    color: #ffffff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-size: 24px;
    font-family: inherit;
    line-height: 26px;
}

/* Popup Theme 1656: Default Theme */
.pum-theme-1656, .pum-theme-default-theme {
    background-color: rgba(0, 0, 0, 0.5);
}

.pum-theme-1656 .pum-container, .pum-theme-default-theme .pum-container {
    padding: 18px;
    border: 1px none #000000;
    border-radius: 0px;
    background-color: rgba(249, 249, 249, 1);
    box-shadow: 1px 1px 3px 0px rgba(2, 2, 2, 0.23);
}

.pum-theme-1656 .pum-title, .pum-theme-default-theme .pum-title {
    color: #000000;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-weight: inherit;
    font-style: normal;
    font-size: 32px;
    font-family: inherit;
    line-height: 36px;
}

.pum-theme-1656 .pum-content, .pum-theme-default-theme .pum-content {
    color: #8c8c8c;
    font-weight: inherit;
    font-style: normal;
    font-family: inherit;
}

.pum-theme-1656 .pum-content + .pum-close, .pum-theme-default-theme .pum-content + .pum-close {
    top: 0px;
    right: 0px;
    bottom: auto;
    left: auto;
    padding: 8px;
    width: auto;
    height: auto;
    border: 1px none #ffffff;
    border-radius: 0px;
    background-color: rgba(0, 183, 205, 1);
    box-shadow: 0px 0px 0px 0px rgba(2, 2, 2, 0.23);
    color: #ffffff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-weight: inherit;
    font-style: normal;
    font-size: 12px;
    font-family: inherit;
    line-height: 14px;
}

#popmake-1663 {
    #mc_embed_signup {
        h3 {
            margin: 0;
        }

        .indicates-required {
            display: none;
        }

        .mc-field-group br {
            display: none;
        }
    }
}